@import "../Variables/Variables.scss";

.purchase-container {
    width: 100%;
    height: 100vh;
    .thank-you-container {
        background: rgba(255,255,255,.1);
        backdrop-filter: blur(10px);
        position: relative;
        flex-direction: column;
        width: 40%;
        margin: 50px auto;
        border-radius: 20px;
        padding: 25px;
        
        

        .checkmark {
            position: relative;
            width: 100px;
            margin-top: -75px;
            margin-bottom: 10px;
            
        }
    
        .purchase-message {
            position: relative;
            text-align: center;
            .header-text {
                font-size: 2rem;
                text-shadow: 0 0 .05rem $blackColor;
                color: #fff ;
            }
    
            .paragraph-text {
                font-size: .9rem;
                letter-spacing: 2px;
                font-weight: 400;
                color: rgba(255,255,255,.4);
            }
    
            .header-text, .paragraph-text {
                margin: 10px;
            }
    
            .btn-submit {
                
                margin: 15px 0;
                width: 80%;
                border-radius: 5px;
                background: #00BA00;
                box-shadow: 0 0 2rem rgba(255,255,255,.1);
                border: 2px solid transparent;
                font-size: 1.3rem;
                letter-spacing: 2px;
                cursor: pointer;
                position: relative;
                text-shadow: 0 0 .05rem black;
    
                &::before {
    
                    position: absolute;
                    content: '';
                    left: 0;
                    right: 0;
                    top: 0;
                    height: 0;
                    background-color: rgba(0,0,0,.1);
                    transition: .3s ease-in-out;
                    
                }
    
                &:hover {
                    box-shadow: 0 0 3rem rgba(255,255,255,.2);
                    &::before {
                        height: 100%;
                        transition: .3s ease-in-out;
                    }
                }
    
                
            }
    
            
        }
    
    
    }
}


@media (min-width: 1300px) {
    
    .purchase-container {
        width: 60%;
        margin: 0 auto;

        .thank-you-container {

            .purchase-message {


                .header-text {
                    font-size: 2.1rem;
                    margin-bottom: 10px;
                }

                .paragraph-text {
                    font-size: .9rem;
                    opacity: .8;
                }
            }
        }
    }


}

@media (max-width: 600px) {
    .purchase-container {
        width: 100%;
        .thank-you-container {
            width: 80%;
        }
    }
}