@import "../Variables/Variables.scss";


.questions-container {
    position: relative;
    background: $primary-background;
    padding: 75px;
    text-align: center;
    color: #fff;
    


    .header-text {
        font-size: 2.7rem;
    }

    .button-container {
        
        padding: 50px;
    
        .btn {
            font-size: 1.5rem;
            background: #1E1B26;
            color: $darkerWhite;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            opacity: .8;
            position: relative;
            box-shadow: 0 0 3rem rgba(255,255,255,.1);
            cursor: pointer;
            letter-spacing: 2px;
            font-weight: 500;
            transition: .3s ease-in-out;
            

            &::before {
                
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                bottom: 0;
                width: 0;
                background: linear-gradient(to right, rgba(255,255,255,.1), transparent);
                filter: blur(1rem);
                transition: .3s ease-in-out;
            }

            &:hover {

                box-shadow: 0 0 4rem rgba(255,255,255,.2);

                &::before {
                    width: 100%;
                }
            }
        }
    }

    .icon-container {
        
        width: 50px;
        height: 50px;
        background: rgba(255,255,255,.1);
        border-radius: 50%;
        cursor: pointer;
        margin: 5px 10px;
        padding: 2px;

        img {

            width: 60%;
            height: 60%;
            
        }

        .faq {
            filter: invert(100%);
        }

        

        &:hover {
            box-shadow: 0 0 3rem rgba(255,255,255,.2);
            transform: translateY(-10px);
        }
    }

    
}